%h1 Your Wishlist

%table
  %thead
    %tr
      %th Album name
      %th
      %th
      %th

  %tbody
    - @album.each do |alb|
    
      %tr
        %td= alb
        %td= link_to 'Delete from wishlist', wishlist, method: :delete, data: { confirm: 'Are you sure?' }

%br